*{
    color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

a {
    text-decoration: none;
}

body {
    background-image: url("/img/welcome-background.jpeg");
    background-size:cover;
    display: flex;
    justify-content: center; 
}
.cuadro-login {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
    height: 600px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

table {
    background-color: #FFF;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    border: 1px solid #333;
}

td, th {
    border: 0.5px solid #333;
    padding: 8px;
}

th {
    background-color: #9dbef3;
    color: #FFF;
    border-bottom: 0;
}

.opciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px;   
}

.btn-editar {
    background-color: #3a4ee6;
    color: #FFF;
    border: 0;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
}

.btn-editar:hover {
    background-color: #2c3db5;
}

.a-editar {
    color: #FFF;
    text-decoration: none;
}

.btn-eliminar {
    background-color: #e63a3a;
    color: #FFF;
    border: 0;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
}

.btn-eliminar:hover {
    background-color: #b52c2c;
}

.a-volver {
    font-size: 1.2rem;
    color: #2f0a5f;
    text-decoration: none;
}

.a-volver:hover {
    
    color: #1a0636;
}